.about-container {
  padding: 64px 160px;
  justify-content: center;
  gap: 32px;
  background: rgba(20, 110, 180, 0.05);
}

.about-div {
  align-items: center;
  width: 352px;
  text-align:center;
}

.about-img {
  width: 72px;
  height: 72px;
  text-align: center;
}
