@import "./components/header/header.scss";
@import "./components/sloganMaker/sloganMaker.scss";
@import "./components/otherProducts/products.scss";
@import "./components/about/about.scss";
@import "./components/footer/footer.scss";

.main-content {
  position: absolute;
  top: 134px;
  left: 0;
  right: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  @extend .flex-row;
  align-items: center;
}

.gray-text {
  color: #4d4d4d;
  /* Body/Default|Regular */
  font-family: "galanoReg";
  font-size: 16px;
  font-style: normal;
  line-height: 24px; /* 150% */
}

.cur-p {
  cursor: pointer;
}
