body {
  margin: 0;
  background-color: #fafafa;
}

@font-face {
  font-family: "galanoReg";
  src: url("./fonts/galanogrotesque-regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "galanoMed";
  src: url("./fonts/galanogrotesque-medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "galanoSemi";
  src: url("./fonts/galanogrotesque-semibold.otf") format("opentype");
  font-weight: 600;
}
